@tailwind base;
@tailwind components;
@tailwind utilities;

/* .clone .imgclone {
  border-radius: 8px;
  padding-left: 1rem;
}

.inputDiv {
  margin-left: 2rem;
} */

@layer components {
  .link {
    @apply cursor-pointer hover:underline;
  }
  .button {
    @apply p-2 text-xs md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 border border-yellow-300 rounded-sm focus:outline-none focus:ring-2 focus:ring-yellow-500 active:from-yellow-500;
  }
}
@media (max-width: 500px) {
  .inputDiv {
    display: flex;
    flex-grow: inherit;
    width: 80%;
  }
  .inputDiv input {
    padding-right: 7rem;
  }
  .imageLogo img {
    object-fit: cover;
  }
  .cart {
    margin-left: 1rem;
    margin-top: 0.5rem;
  }
}
